.sidebar {
  position: fixed;
  height: 98%;
  overflow: scroll;
  width: 15%;
  display:inline-block;
  border:1px solid #000;
  padding:5px;
  text-align: left;
}
.sidebar ul {
  text-align: left;
  padding: 0px;
}
.sidebar li {
  list-style-type: decimal;
  text-align: left;
}
.sidebar p {
  margin: 1px;
}
.sidebar h3 {
  margin: 4px;
}
.main {
  margin-left: 18%;
}
.section {
  color: black;
}
.section:hover {
  color: red;
}
.item {
  text-decoration: none;
}
.item:link, .item:visited {
  color: blue;
}
.item:hover {
  color: red;
}
